<h3>Witaj w swoim panelu głównym. Tutaj możesz wybrać rodzaj treningu którego progres chcesz zobaczyć.</h3>


<a href="/users/new">
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;float:left;padding:5px;margin-left:5px;">
        <div class="card-header">Stwórz trening</div>
        <div class="card-body">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">Rozpisz swój crossfitowy trening i zapisz swój czas/ciężar.</p>
        </div>
    </div>
</a>



<a href="/users/update">
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;float:left;padding:5px;margin-left:5px;">
        <div class="card-header">Zaktualizuj postęp</div>
        <div class="card-body">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">Przy następnej próbie WOD'a wpisz swój nowy czas/ciężar</p>
        </div>
    </div>
</a>


