<h1>Jesteś zajarany ćwiczeniem i chcesz kontrolować swoje wyniki?</h1>
<p>Na tej stronie masz możliwość zapisywania swoich wyników ciężarowych, czasu WOD'ów, a tym samym porównywania swojego progresu!</p>
<h3>To takie proste!</h3>