<div class="wod"> 
    <h4 contenteditable="true">Nazwa treningu</h4>
    <p></p>
    <ul class="excersises"> 
    <li>Dodaj ćwiczenie</li>
    </ul>
 <form class="input-group mb-3 add-items" method="post" action="">
    <button style="color:white;" class="btn btn-outline-secondary" type="submit">Dodaj ćwiczenie</button>
  <input type="text" class="form-control" name="item" placeholder="Opisz swoje ćwiczenie" aria-label="" aria-describedby="basic-addon1" required>
</form>
<button  style="color:white;" type="submit" class="btn btn-outline-secondary">Dodaj trening</button>
</div>