<div class="wod"> 
    <h4>Tutaj opisz rodzaj ćwiczeń i ilość powtórzeń</h4>
    <p></p>
    <ul class="exercises">
    </ul>
 <form class="input-group mb-3 add-items" method="post" action="/users/NewWOD">
    <button style="color:white;" class="btn btn-outline-secondary" name="local" type="submit">Zatwierdź trening</button>
  <input type="text" class="form-control" name="item" placeholder="Opisz swoje ćwiczenie" aria-label="" aria-describedby="basic-addon1" required onkeypress="return event.keyCode!=13">
</form>
</div>