<h2>Zobacz jak twoje czasy są coraz krótsze. Widzisz progres?</h2>
   <ul>
    {{#each wod.time}}
       <li>{{this}}</li>
    {{/each}}
</ul>

<div id="chartContainer" style="height: 500px; width: 50%;"></div>

<script type="text/javascript">
      window.onload = function () {
          var chart = new CanvasJS.Chart("chartContainer", {
              data: [
              {
                  type: "column",
                  dataPoints: [
                  { x: 10, y: 10 },
                  { x: 20, y: 15 },
                  { x: 30, y: 25 },
                  { x: 40, y: 30 },
                  { x: 50, y: 28 }
                  ]
              }
              ]
          });
 
          chart.render();
      }
  </script>

