{{#if user.wods}}
    {{#each user.wods}}
        <a href="/users/add_time">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;float:left;padding:5px;margin-left:5px;">
                <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">{{user.wods.exercise}}</p>
                </div>
            </div>
        </a>
    {{/each}}
{{else}}
    <h4>nic tu nie ma</h4>
{{/if}}
